

.Login_container{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.Form{
    justify-content:center;
    align-items: center;
    padding:15px;
}
.User_input{
    text-align:center;
    border:0;
    border-bottom: 1px solid #CCC;
    background :transparent;
    color: #555;
    box-sizing: border-box;
    font-family: 'serif';
    font-size: 18px;
    &:focus{
        outline:none;
    }
}
.User_input::-webkit-input-placeholder{
    color: #AAA;
}
.User_input:focus::-webkit-input-placeholder{
    color:dodgerblue;
}
