.Container{
    width: 100vw;
    height: 100vh;
    display: flex;
}
.Right_button{
    width: 5%;
    height: 5%;
    color: black;
    font-size: calc(15px + 0.1vmin);
    background-color: white;
    position: absolute;
    overflow: hidden;
    transition : all 0.2s;
    border: none;
    border-radius: 10px;
    top: 5%;
    right: 5%;
}
.Left_button{
    width: 5%;
    height: 5%;
    color: black;
    font-size: calc(15px + 0.015vmin);
    background-color: white;
    position: absolute;
    overflow: hidden;
    transition : all 0.2s;
    border: none;
    border-radius: 10px;
    top: 5%;
    left: 5%;
}
.Whiteboard{
    width: 100%;
    height: 100%;
    background-color: white;
    /* do not change position */
    position : absolute;
}
.Menu{
    display:flex;
    flex-direction: row;
    width: 60%;
    height: 20%;
    background-color: aqua;
    position: absolute;
    bottom: 5%;
    left: 20%;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
}
.Widget_pick{

}
.Resize_box{
    width: 20px;
    height: 20px;
    background-color: black;
    bottom:-10px;
    right:-10px;
    position: absolute;
}